page-adicionar-atividade {
    .minhaAtividade{
        font-size: 2.2rem;
        background-color: #488aff;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
    }
    .logoAtividade{
        float: left;
        margin-right: 10px;
    }
    .labelMinhaAtividade{
        margin: 0px 0px 0px 0px;
        float: left;
        margin-right: 35%;
        margin-left: 5%;
    }
}
