page-home {
    ion-title * {
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    .registrar{
        height: 4.7rem;
        font-size: 18px;
        margin-top: 15px;
    }
    .logar{
        height: 4.7rem;
        font-size: 18px;
    }
    .scroll-content{
        background-color: #F7F7F7;
    }
    .login-button{
        background-color: #07D850
    }
    .registrarRede{
        background-color: #F4BB05;
    }
    .registrar{
        background-color: #BE5DA5;
    }
}
